doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ site_title }
    link(rel="stylesheet", href="/assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")

  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    article#content
      .container.main-content
        .row

            != yield
            != partial("_partials/comments")

    hr
