h1 Hi :)

p: a(href="/"): img.profile-img(src="/assets/images/Profile Photo.png")
p.center <strong> Nocturnal programmer, occasional photographer, aspiring entrepreneur, ever curious :)  


p.center My name is Steve and I'm a programmer who's passionate about technology literacty, and using technology to improve lives and help local communities.  You can follow my latest adventures on this website.  Feel free to dm me at stevemanbu@gmail.com.  


ul
	each article, slug in public.posts._data
		if article.top == "f"
			br
			br
		.gray
			!{article.date}
		a(href="/posts/#{ slug }") #{ article.title }

hr
br

h4.center Also find me at:
ul

  
    a(href="https://github.com/stevemanone") Github
    br

    a(href="https://stackoverflow.com/users/4541462/steve-man") Stack Overflow
    br

    a(href="https://www.codewars.com/users/stevemanone") Code Wars
    br

    a(href="https://www.linkedin.com/in/steve-man-0b2324149/") LinkedIn
    br


    a(href="https://www.meetup.com/Hey-Siri-How-Do-I-Make-New-Friends-After-College/") Meetup
    br

    a(href="https://www.facebook.com/stevenmanone") Facebook
    br

