h1 Hello World :)

p: a(href="/"): img.profile-img(src="/assets/images/Profile Photo.png")
p <strong> Nocturnal programmer, occasional photographer, aspiring entrepreneur, ever curious :)  


p My name is Steve and I'm a programmer who's passionate about technology literacty, and using technology to improve lives and help local communities.  You can follow my latest adventures on this website.  Feel free to dm me at stevemanbu@gmail.com.  

