h1 Hello World :)

p Hi!  Gosh there is truly an amazing time to be working in programming and software.  The sheer amount of interesting areas (from AI, to machine learning, to big data, to web/mobile development) coupled with an incredible suite of (free) online resources means that anyone with a computer and internet access has an incredible opportunity to learn and create.  

p For me, I'm 